In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("D:Maged/imdb/imdb_md.csv")
data.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.3+ MB

In [4]:
data.drop(columns={'id','imdb_id','homepage','keywords','tagline','original_title'},inplace=True)
# drop uncesssary columns in the dataset

In [5]:
data.head()

,popularity,budget,revenue,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,28.419936,150000000,378436354,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,13.112507,110000000,295238201,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,11.173104,200000000,2068178225,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,9.335014,190000000,1506249360,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   popularity            10866 non-null  float64
 1   budget                10866 non-null  int64
 2   revenue               10866 non-null  int64
 3   cast                  10790 non-null  object
 4   director              10822 non-null  object
 5   overview              10862 non-null  object
 6   runtime               10866 non-null  int64
 7   genres                10843 non-null  object
 8   production_companies  9836 non-null   object
 9   release_date          10866 non-null  object
 10  vote_count            10866 non-null  int64
 11  vote_average          10866 non-null  float64
 12  release_year          10866 non-null  int64
 13  budget_adj            10866 non-null  float64
 14  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 1018.8+ KB

In [7]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [8]:
ind=data[data['runtime']==0].index
data.drop(ind,axis=0,inplace=True)
data[data['runtime']==0]
#droping movies without a specific runtime "runtime=0".

Empty DataFrame
Columns: [popularity, budget, revenue, cast, director, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year, budget_adj, revenue_adj]
Index: []

In [9]:
data['release_date']=pd.to_datetime(data['release_date'])
# Turning "release_date" from "string" to "datetime".
# To be easier to search by date.

In [10]:
data.sample(10)

,popularity,budget,revenue,cast,director,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
6705,0.538360,0,0,Jon Heder|Rob Schneider|David Spade|Jon Lovitz...,Dennis Dugan,A trio of guys try and make up for missed oppo...,80,Comedy,Columbia Pictures|Revolution Studios|Happy Mad...,2006-04-07,132,5.4,2006,0.000000e+00,0.000000e+00
10474,1.522478,6000000,138530565,Tom Berenger|Charlie Sheen|Willem Dafoe|Forest...,Oliver Stone,"As a young and naive recruit in Vietnam, Chris...",120,Drama|War|Action,Orion Pictures|Hemdale Film Corporation,1986-12-18,650,7.3,1986,1.193644e+07,2.755936e+08
411,0.256542,0,0,Maiara Walsh|Diego Boneta|Jocelin Donahue|Andr...,Alberto Marini,A group of people have just signed up to be ca...,81,Horror,Filmax Group|Castelao Pictures|Somnium Films,2015-08-30,16,5.3,2015,0.000000e+00,0.000000e+00
5187,0.159996,0,0,James Woods|Nick Nolte|Claire Forlani|Daryl Ha...,Michael Polish,"""We are all angels. It is what we do with our ...",103,Fantasy|Drama|Science Fiction,NaN,2003-01-01,10,5.7,2003,0.000000e+00,0.000000e+00
2682,0.883228,0,0,Meg Ryan|Hugh Jackman|Liev Schreiber|Breckin M...,James Mangold,When her scientist ex-boyfriend discovers a po...,118,Comedy|Fantasy|Romance|Science Fiction,Miramax Films|Konrad Pictures,2001-12-25,248,5.8,2001,0.000000e+00,0.000000e+00
1607,0.429492,7300000,10329747,Michael Caine|Emily Mortimer|Iain Glen|Lee Oak...,Daniel Barber,An elderly ex-serviceman and widower looks to ...,103,Thriller|Crime|Drama|Action,HanWay Films|UK Film Council|Marv Films,2009-11-11,172,6.6,2009,7.419723e+06,1.049916e+07
8273,0.702115,0,0,Sara Gilbert|Drew Barrymore|Tom Skerritt|Chery...,Katt Shea,A seductive teen befriends an introverted high...,93,Thriller,New Line Cinema,1992-05-08,32,5.3,1992,0.000000e+00,0.000000e+00
2666,1.134012,60000000,93375151,Jeff Goldblum|Elizabeth Perkins|Alexander Poll...,Lawrence Guterman,When a professor develops a vaccine that elimi...,87,Comedy|Family,Village Roadshow Pictures|NPV Entertainment|Ma...,2001-07-04,182,5.0,2001,7.388929e+07,1.149904e+08
5692,0.422443,0,0,Mike Tyson,Spike Lee,Mike Tyson's one-man show is a fascinating jou...,90,Comedy,HBO Films,2013-12-01,14,6.8,2013,0.000000e+00,0.000000e+00
3414,1.592819,66000000,177584879,Tom Hiddleston|Benedict Cumberbatch|Toby Kebbe...,Steven Spielberg,Follows a young man named Albert and his horse...,146,Drama|War,DreamWorks SKG|Amblin Entertainment|Reliance E...,2011-12-25,611,6.9,2011,6.398027e+07,1.721504e+08

In [11]:
data.genres.mode()
# Which genres are most popular in this dataset.

0    Drama
dtype: object

In [12]:
data.production_companies.mode()
# Which production company has more movies than the other production companies in this dataset.

0    Paramount Pictures
dtype: object

In [13]:
data.director.mode()
# Which director has more movies than the other directors in this dataset.

0    Woody Allen
dtype: object

In [14]:
data.cast.mode()
# Which actor/actress has more movies than the other actors/actresses in this dataset.

0    Louis C.K.
dtype: object

In [15]:
data.release_year.mode()
# Which year has more movies than the other years in this dataset.

0    2014
dtype: int64

In [16]:
data.release_date.dt.month.mode()
# What is the most popular release month
# The most popular month is >>>> September

0    9
dtype: int64

In [17]:
high_revenue=data.sort_values(by=['revenue'],ascending=False).head(10)
high_revenue.genres.mode()
# Finding movies genres that have the highest revenues. The most popular movies genres are "Action|Adventure|Science Fiction".

0    Action|Adventure|Science Fiction
dtype: object

In [18]:
# Thanks!!